
 
     <div class="wrapper">
            <h1>Basic carousel</h1>

            <p>This example shows how to setup a basic carousel with prev/next controls and pagination.</p>

            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li><img src="/assets/Bunches_flow.jpg" width="600" height="400" alt=""></li>
                        <li><img src="/assets/blue_flo.jpg" width="600" height="400" alt=""></li>
                        <li><img src="/assets/pink_flo.jpg" width="600" height="400" alt=""></li>
                         
                        <li><img src="/assets/sun_flow.jpg" width="600" height="400" alt=""></li>
                    </ul>
                </div>

                <p class="photo-credits">
                    Photos by <a href="http://www.mw-fotografie.de">Marc Wiegelmann</a>
                </p>

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                
                <p class="jcarousel-pagination">
                    
                </p>
            </div>
        </div>


<!--  static table --> 
<div align="center">
<table class="table table-hover table-striped table-bordered ">
	
  <tr>
    <th>First name</th>  
    <th>Last name</th>
    <th>Address</th>
    <th>Birth Date</th> 
    <th>Gender </th>
    
    </tr>
    <tr>
    	<td> Anjali</td>
    	<td> Patil</td>
    	<td> Police Hed Qtr,144, R.no-9,B.no-4,Jalgaon. </td>
    	<td> 30/7/1991 </td>
    	<td> Female </td>
    	</tr>
<tr>
    	<td> Sohan</td>
    	<td> Patil</td>
    	<td> Ganesh Colony plt no 13 pune. </td>
    	<td> 3/7/1995 </td>
    	<td> Male </td>
    	</tr>
   <tr>
    	<td> Shital</td>
    	<td> Ratanparkhe</td>
    	<td> Kamat Chauk,Adarsh Apartment,flat no-6,pune. </td>
    	<td> 7/7/1991 </td>
    	<td> Female </td>
    	</tr>
    	
     <tr>
    	<td>Avinash </td>
    	<td> Joshi</td>
    	<td> Ramkrishna Colony,meharun plt no-8,Jalgaon. </td>
    	<td> 7/4/1989 </td>
    	<td> Male </td>
    	</tr>
    	
    	 <tr>
    	<td>Salaka </td>
    	<td> Joshi</td>
    	<td> Ramkrishna Banglo, plt no-8 Badodara,Gujarat. </td>
    	<td> 7/11/1989 </td>
    	<td> Female </td>
    	</tr>
    	
    	 <tr>
    	<td>Ashwini </td>
    	<td> Deshmukh</td>
    	<td> vinayka nagar,katepuram chauk,new sangvi,pune. </td>
    	<td> 30/7/1992 </td>
    	<td> Female </td>
    	</tr>
    	 <tr>
    	 	
    	<td>Nikhil </td>
    	<td> Bharambe</td>
    	<td> Anand Park,flat no-4,Panvel,new Mumbai </td>
    	<td> 5/5/1993 </td>
    	<td> Male </td>
    	</tr>
    	
    	 <tr>
    	<td>Suresh </td>
    	<td> Agrawal </td>
    	<td> Shri Krishan nagar, B.no-4,R.no-6,Nagpur </td>
    	<td> 1/8/1988 </td>
    	<td> Male </td>
    	</tr>
    	 <tr>
    	 	
    	<td>Reshma </td>
    	<td> Mota </td>
    	<td> Ramanand Stop,plt.no-6,Dhule </td>
    	<td> 6/4/1991 </td>
    	<td> Fmale </td>
    	</tr>
    	 <tr>
    	 	
    	<td>Hemant </td>
    	<td> tiwari</td>
    	<td> Lotus Nandanwan society, falt no-11,bhosari,Pune </td>
    	<td> 1/1/1990 </td>
    	<td> Male </td>
    	</tr>
    	
<% @users.each do |user| %>
  
   <div align="right">
    <%= user.last_name %>
   <%= link_to 'Show', user %>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
</table>
</div>
<br />

<%= link_to 'New User', new_user_path %>
<!--static chartcontrolar-->
 
 <div id="canvas-holder" style="width:30%">
			<canvas id="chart-area" width="239px" height="276" />
				
</div>
</div>